<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.js'></script>
    <script type='text/javascript'
        src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
    <title>SoundStock</title>
    <script>

        $(document).ready(function () {

            console.log("caio")
            $("#preco-min").inputmask({
                mask: '#{1,5}.##',
                placeholder: '0',
                showMaskOnHover: false,
                showMaskOnFocus: false,
                onBeforePaste: function (pastedValue, opts) {
                    var processedValue = pastedValue;

                    //do something with it

                    return processedValue;
                }
            });
            $("#preco-max").inputmask({
                mask: '#{1,5}.##',
                placeholder: '0',
                showMaskOnHover: false,
                showMaskOnFocus: false,
                onBeforePaste: function (pastedValue, opts) {
                    var processedValue = pastedValue;

                    //do something with it

                    return processedValue;
                }
            });
            $("#avaliacao-min").inputmask({
                mask: '#.##',
                placeholder: '0',
                showMaskOnHover: false,
                showMaskOnFocus: false,
                onBeforePaste: function (pastedValue, opts) {
                    var processedValue = pastedValue;

                    //do something with it

                    return processedValue;
                }
            });
            $("#avaliacao-max").inputmask({
                mask: '#.##',
                placeholder: '0',
                showMaskOnHover: false,
                showMaskOnFocus: false,
                onBeforePaste: function (pastedValue, opts) {
                    var processedValue = pastedValue;

                    //do something with it

                    return processedValue;
                }
            });
            $("#duracao-min").inputmask({
                mask: '#{1,5}',
                placeholder: '0',
                showMaskOnHover: false,
                showMaskOnFocus: false,
                onBeforePaste: function (pastedValue, opts) {
                    var processedValue = pastedValue;

                    //do something with it

                    return processedValue;
                }
            });
            $("#duracao-max").inputmask({
                mask: '#{1,5}',
                placeholder: '0',
                showMaskOnHover: false,
                showMaskOnFocus: false,
                onBeforePaste: function (pastedValue, opts) {
                    var processedValue = pastedValue;

                    //do something with it

                    return processedValue;
                }
            });
        });
    </script>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <div style="width: 100vw;height: 100vh;background: linear-gradient(#160052, #4a00ac);">
        <div class="container position-absolute top-50 start-50 translate-middle ">
            <div class="row justify-content-md-center">
                <div class="col-md-auto card" style="width: 800px;padding: 30px">
                    <form class="d-flex  flex-column justify-content-center" action="busca-resultado" method="POST">
                        <div class="mb-3 d-flex  flex-column justify-content-center">
                            <h3 class="text-center">Buscar faixas de áudio</h3>
                        </div>
                        <div class="mb-3 d-flex  flex-row justify-content-around">
                            <div class="mb-3 d-flex  flex-column justify-content-center" style="width: 300px;">
                                <label for="nome" class="form-label text-center">Nome</label>
                                <input class="form-control" id="nome" name="nome"></input>
                            </div>
                        </div>
                        <div class="mb-3 d-flex  flex-row justify-content-around">
                            <div class="mb-3 d-flex  flex-column justify-content-center">
                                <label for="preco-min" class="form-label text-center">Preço mínimo</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">R$</div>
                                    </div>
                                    <input class="form-control" id="preco-min" name="preco-min"
                                        placeholder="XX.XX"></input>
                                </div>
                                <small id="preco-minHelpBlock" class="form-text text-muted">
                                    Formato de XX.XX
                                </small>
                            </div>
                            <div class="mb-3 d-flex  flex-column justify-content-center">
                                <label for="preco-max" class="form-label text-center">Preço máximo</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">R$</div>
                                    </div>
                                    <input class="form-control" id="preco-max" name="preco-max"
                                        placeholder="XX.XX"></input>
                                </div>
                                <small id="preco-maxHelpBlock" class="form-text text-muted">
                                    Formato de XX.XX
                                </small>
                            </div>
                        </div>
                        <div class="mb-3 d-flex  flex-row justify-content-around">
                            <div class="mb-3 d-flex  flex-column justify-content-center">
                                <label for="duracao-min" class="form-label text-center">Duração mínima</label>
                                <input class="form-control" id="duracao-min" name="duracao-min"></input>
                                <small id="duracao-minHelpBlock" class="form-text text-muted">
                                    Duração da faixa em segundos
                                </small>
                            </div>
                            <div class="mb-3 d-flex  flex-column justify-content-center">
                                <label for="duracao-max" class="form-label text-center">Duração máxima</label>
                                <input class="form-control" id="duracao-max" name="duracao-max"></input>
                                <small id="duracao-maxHelpBlock" class="form-text text-muted">
                                    Duração da faixa em segundos
                                </small>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>