<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.js'></script>
  <script type='text/javascript'
    src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
  <title>SoundStock</title>
  <script>

    $(document).ready(function () {
      var urlParams = new URLSearchParams(window.location.search);
      if (urlParams.has('error')){
        alert(urlParams.get('error'))
      }
      console.log("caio")
      $("#preco").inputmask({
        mask: '#{1,5}.##',
        placeholder: '0',
        showMaskOnHover: false,
        showMaskOnFocus: false,
        onBeforePaste: function (pastedValue, opts) {
          var processedValue = pastedValue;

          //do something with it

          return processedValue;
        }
      });
      $("#duracao").inputmask({
        mask: '#{1,5}',
        placeholder: '0',
        showMaskOnHover: false,
        showMaskOnFocus: false,
        onBeforePaste: function (pastedValue, opts) {
          var processedValue = pastedValue;

          //do something with it

          return processedValue;
        }
      });
    });
  </script>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <div style="width: 100vw;height: 100vh;background: linear-gradient(#160052, #4a00ac);">
    <div class="container position-absolute top-50 start-50 translate-middle ">
      <div class="row justify-content-md-center">
        <div class="col-md-auto card" style="width: 800px;padding: 30px">
          <form class="d-flex  flex-column justify-content-center" action="faixa-audio" method="POST">
            <div class="mb-3 d-flex  flex-column justify-content-center">
              <h3 class="text-center">Nova faixa de áudio</h3>
            </div>
            <div class="mb-3 d-flex  flex-row justify-content-around">
              <div class="mb-3 d-flex  flex-column justify-content-center" style="width: 300px;">
                <label for="nome" class="form-label text-center">Nome</label>
                <input class="form-control" id="nome" name="nome" required></input>
              </div>
            </div>
            <div class="mb-3 d-flex  flex-row justify-content-around">
              <div class="mb-3 d-flex  flex-column justify-content-center">
                <label for="preco" class="form-label text-center">Preço</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">R$</div>
                  </div>
                  <input class="form-control" id="preco" name="preco" placeholder="XX.XX" required></input>
                </div>
                <small id="precoHelpBlock" class="form-text text-muted">
                  Formato de XX.XX
                </small>
              </div>
              <div></div>
              <div class="mb-3 d-flex  flex-column justify-content-center">
                <label for="duracao" class="form-label text-center">Duração</label>
                <input class="form-control" id="duracao" name="duracao" required></input>
                <small id="duracaoHelpBlock" class="form-text text-muted">
                  Duração da faixa em segundos
                </small>
              </div>
            </div>
            <div class="mb-3 d-flex  flex-row justify-content-around">
              <div class="mb-3 d-flex  flex-column justify-content-center">
                <label for="idiomas" class="form-label text-center">Idiomas</label>
                <input class="form-control" id="idiomas" name="idiomas"></input>
                <small id="idiomasHelpBlock" class="form-text text-muted">
                  Separar por vírgula
                </small>
              </div>
              <div class="mb-3 d-flex  flex-column justify-content-center">
                <label for="generos" class="form-label text-center">Gêneros</label>
                <input class="form-control" id="generos" name="generos"></input>
                <small id="generosHelpBlock" class="form-text text-muted">
                  Separar por vírgula
                </small>
              </div>
              <div class="mb-3 d-flex  flex-column justify-content-center">
                <label for="instrumentos" class="form-label text-center">Instrumentos</label>
                <input class="form-control" id="instrumentos" name="instrumentos"></input>
                <small id="instrumentosHelpBlock" class="form-text text-muted">
                  Separar por vírgula
                </small>
              </div>
            </div>
            <div class="mb-3 d-flex  flex-column justify-content-center">

              <label for="contratos" class="form-label text-center">Contratos</label>
              <div class="mb-3 d-flex  flex-row justify-content-around">
                <small id="contratosHelpBlock" class="form-text text-muted">
                  Selecionar pelo menos 1
                </small>
              </div>
              {{contratos|safe}}
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>